@import "tailwindcss";

@theme {
  --color-creme: #f5ead5;
  --color-creme-fonce: #ede0c4;
  --color-accent: #ff7a00;
  --color-noir: #100609;
  --color-noir-doux: #3d2a1f;

  --font-display: "Affigere", Georgia, serif;
  --font-body: "Lineal", system-ui, sans-serif;
}

@font-face {
  font-family: "Affigere";
  src: url("/fonts/Affigere-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lineal";
  src: url("/fonts/Lineal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lineal";
  src: url("/fonts/Lineal-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-creme);
  color: var(--color-noir);
  font-family: var(--font-body);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-noir);
}
